<ChessClock @minutes={{10}} />
{{!-- {{#if this.gameStarted}}
  <ChessClock @minutes={{this.minutes}} />
{{else}}
  Minutes: <Input type='number' @value={{this.minutes}} />
  <button {{on 'click' (fn (mut this.gameStarted) true)}} type='submit'>Start</button>
{{/if}} --}}